<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yomogi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="nav-top">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <!--<div>Lugar para poner la barra de búsqueda</div>-->
            <div>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <br>
        <nav class="nav-bottom">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav> 
        <br>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img src="img-home-banner.jpg" class="banner">
    <main class="main">
        <h2>Sección: basado en tu última visitas</h2>
        <div class="wrap">
            <div class="articulos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$6.770</p> 
                            <i class="fas fa-truck"> </i>
                            <p class= "descuento">40% OFF</p>
                        </div>
                        <p class= "hola">Cafetera Moulinex</p>
                    </p>
            </div>
            <div class="articulos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$230.000</p>
                            <p class= "descuento">20% OFF</p>
                        </div>
                        <p class= "hola">MacBook Pro 2019</p>
                    </p>
            </div>
            <div class="articulos"> 
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$70.500</p> 
                            <p class= "descuento">10% OFF </p>
                        </div>
                        <p class= "hola">Samsung Galaxy S10</p>
                    </p>
            </div>
            <div class="articulos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$23.200 </p>
                            <p class= "descuento">5% OFF </p>
                        </div>
                        <p class= "hola">SmarTV Samsung 43"</p>
                    </p>
                </div>
            </div>
        </div>
        <h2>Sección de Ofertas</h2>
        <div class="wrap">
            <div class="articulos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$6.770</p> 
                            <p class= "descuento">40% OFF</p>
                        </div>
                        <p class= "hola">Cafetera Moulinex</p>
                    </p>
            </div>
            <div class="articulos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$230.000</p>
                            <p class= "descuento">20% OFF</p>
                        </div>
                        <p class= "hola">MacBook Pro 2019</p>
                    </p>
            </div>
            <div class="articulos"> 
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$70.500</p> 
                            <p class= "descuento">10% OFF </p>
                        </div>
                        <p class= "hola">Samsung Galaxy S10</p>
                    </p>
            </div>
            <div class="articulos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img">
                    <p>
                        <div class="juntos">
                            <p class="precio">$23.200 </p>
                            <p class= "descuento">5% OFF </p>
                        </div>
                        <p class= "hola">SmarTV Samsung 43"</p>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer>
        <div>
            <i class="fas fa-credit-card formas"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift formas"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield formas"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
        </div>
    </footer>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</body>
</html>